@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Todos</h1>
    <p class="lead">ASP.NET Web App using HTML, CSS and JavaScript.</p>
    <p><a href="/todolists" class="btn btn-primary btn-lg">Todo List &raquo;</a></p>
</div>


<div class="row equal">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body text-center">
                <h2>Find Code on Github</h2>
                <p class="card-text">
                    ASP.NET MVC Todo app source code can be found on github
                </p>
                <p class="text-center"><a class="btn btn-default" href="https://github.com/wilbobraggins/TodoMVC/tree/master/Todo" target="_blank">Learn more <i class="fab fa-github"></i></a></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body text-center">
                <h2>Visit my Portfolio</h2>
                <p>My Portfolio of personal and professional projects found here hosted on AWS</p>
                <p><a class="btn btn-default" href="https://williamresume.s3-website-us-east-1.amazonaws.com" target="_blank">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body text-center">
                <h2>Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867" target="_blank">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>
</div>
